# Source Glean instance (export from)
GLEAN_SOURCE_URL=https://source-instance-be.glean.com
GLEAN_SOURCE_TOKEN=

# Destination Glean instance (import to)
GLEAN_DEST_URL=https://dest-instance-be.glean.com
GLEAN_DEST_TOKEN=
